#hound{
    color: white;
}

#f1{
    color: deeppink;
    font-size: 20px;
}

#fd{
    color: white;
}

#ausshep{
    width: 250px;
    height: 150px;
}

#ap{
    color: white;
}

#ausherd{
    color: white;
}